#container {
    display: flex;
    margin: auto;
    height: 430px;
    width: 90%;
    border: 2px solid darkgrey;
}

#list {
    width: 230px;
    height: 100%;
    /* border: 1px solid red; */
    /* margin: 5px; */
}

#items>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    list-style: none;
    text-decoration: none;
    border-bottom: 3px solid slategray;
    /* text-align: center; */
}
#items>p:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#items>li  {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 7px;
    font-size: 13px;
    
    /* text-align: left; */
margin-left: -14px;            
}
#items>li :hover{
    cursor: pointer;
    
}
