.heading{
    margin-top: 90px;
}



.container{
    width:95%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 20px  ;
    margin-top: 90px;
   
    height :800px;
    background-color: rgb(244,244,244);

}
 

.contact-box{
    width: 100%;
    height: 480px;
    display: flex;
    background-color: rgb(244,244,244);
  
     
    
}
.left{
    width: 50%;
     
    /* background:url(https://www.google.com/maps/d/thumbnail?mid=1Ial8nLQLIup15p5Q09k0CjQASII) ; */
    background-size: cover;
   
    

}

.right{
    padding: 25px 40px;
    margin-left:10px;
   
    justify-content: center;
    align-items: center;
    text-align: left;
     
    
}
form>input{
    margin-bottom: 20px;
    margin-top: 3px;
}
form>placeholder{
    margin-left: 10px;
}
 
.name{
    margin-left: 30px;
    height: 20px;
     
}
#Mess{
    margin-left: 80px;
    height: 100px;
     
}
.email{
    margin-left: 30px; 
    height: 20px;
}
.mobile{
    
    height: 20px;
}
 button{
    background-color:  rgb(81,201,166);
    cursor: pointer;
    color: white;
    border-radius: 2px;
    padding: 10px  ;
    border: 0;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    outline: none;
    /* transition: .3s; */
    margin-left: 80px;
}
button:hover{
    color: white;
    background-color:  rgb(81,201,166);
}
  

h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
     
}
 

.bottom{
   
    width: 100%;
    height: 200px;
    display: flex;
}
.box1{
  
    width: 30%;
    
}
.box2{
   
    width: 30%;
    margin-left:10px;
    padding: 30px;
    height: 100px;
    margin-top: 2%;
    
}
p1{
    color: rgb(36, 36, 36) ;
}
p{
    color: rgb(106,87,80);
}
 .img{
     display: flex;
     margin-left: 10px;
      
 }
 .img1{
    cursor: pointer;
 }
 .img2{
     margin-left: 5%;
     cursor: pointer;
     
 }
 img2:hover{
     color: white;
     background-color:rgb(0,174,239) ;
 }
  
 