/* frame */
#main {
  height: 5840px;
  border: 1px solid black;
  display: grid;
  grid-template-areas:
    "z z z z z z z z"
    "a a a a a a b b"
    "a a a a a a b b"
    "a a a a a a b b"
    "a a a a a a b b"
    "c c c c c c c c"
    "c c c c c c c c"
    "c c c c c c c c"
    "c c c c c c c c"
    "d d d d d d d d"
    "d d d d d d d d"
    "e e e e e e e e"
    "e e e e e e e e"
    "f f f f f f f f"
    "f f f f f f f f"
    "g g g g g g g g"
    "g g g g g g g g"
    "h h h h h h h h"
    "h h h h h h h h"
    "i i i i i i i i"
    "i i i i i i i i"
    "j j j j j j j j"
    "j j j j j j j j"
    "k k k k k k k k"
    "k k k k k k k k"
    "l l l l l l l l"
    "l l l l l l l l"
    "m m m m m m m m"
    "n n n n n n n n"
    "n n n n n n n n"
    "o o o o o o o o"
    "o o o o o o o o"
    "o o o o o o o o"
    "o o o o o o o o"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p"
    "p p p p p p p p";

  grid-gap: 30px;
}

#main > div {
  border: 1px solid red;
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  cursor: pointer;
}

#main > div:nth-child(1) {
  grid-area: a;
}

#main > div:nth-child(2) {
  grid-area: b;
}

#main > div:nth-child(3) {
  grid-area: c;
}

#main > div:nth-child(4) {
  grid-area: d;
}

#main > div:nth-child(5) {
  grid-area: e;
}

#main > div:nth-child(6) {
  grid-area: f;
}

#main > div:nth-child(7) {
  grid-area: g;
}

#main > div:nth-child(8) {
  grid-area: h;
}

#main > div:nth-child(9) {
  grid-area: i;
}

#main > div:nth-child(10) {
  grid-area: j;
}

#main > div:nth-child(11) {
  grid-area: k;
}

#main > div:nth-child(12) {
  grid-area: l;
}

#main > div:nth-child(13) {
  grid-area: m;
}

#main > div:nth-child(14) {
  grid-area: n;
}

#main > div:nth-child(15) {
  grid-area: o;
}

#main > div:nth-child(16) {
  grid-area: p;
}

#main > div:nth-child(17) {
  grid-area: z;
}

#main > div > div {
  /* border: 1px solid green; */
  text-align: left;
  padding: 15px;
}

#btm1 {
  /* height: 10%; */
}

/* Title Bar */
#btm2 {
  /* height: 20%; */
  background-color: #0b7670;
  font: 12px;
  font-family: Roboto, sans-serif;
  color: #51c9a6;
}

#btm3 {
  /* height: 70%; */
  background-color: #51c9a6;
  color: #e7fbfd;
}

#copyRight {
  text-align: center;
  color: #117150;
  margin-top: 20px;
}

#btm2 > div {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

#btm2 > div > div {
  border: 1px solid red;
  margin: auto;
  margin-top: 10px;
}

#btm2 > div > div > p:nth-child(1) {
  color: white;
}

#btm1 {
  display: flex;
}

#btm1 > div {
  margin: auto;
  text-align: center;
}

#btm1 > div > p {
  color: #c9cacc;
}

h6 {
  margin: 10px;
}

h3 {
  margin: 0%;
  font-weight: lighter;
}

p {
  font-size: 11px;
  margin: 0%;
  font-weight: lighter;
}

/* Advertisement */
.adv_l > div:nth-child(1) {
  height: 80%;
}

.sliderImg {
  display: flex;
}

img {
  height: 100%;
  width: 100%;
}
.adv_l > div:nth-child(2) {
  display: flex;
  height: 10%;
}
.adv_l > div:nth-child(2) > p {
  margin: 0% 5%;
}

.adv_r > img {
  height: 33.33%;
  width: 100%;
}

/* Top Categories */
.TC > div:nth-child(1) {
  font-weight: 550;
  color: #525d5d;
}
.TC > div:nth-child(2) {
  color: #525d5d;
  display: flex;
  flex-wrap: wrap;
}
.TC > div > div {
  border: 1px dashed black;
  margin: 10px;
  height: 35%;
  width: 10%;
}

.TC > div > div > div:nth-child(1) {
  margin-left: 5px;
  height: 80%;
}
.TC > div > div > div > img {
  padding: 5px;
  width: 100px;
  border-radius: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.TC > div > div > div:nth-child(2) {
  height: 10%;
  text-align: center;
  margin-top: 20px;
  color: #adaaab;
}

.TC > div > div > div:nth-child(2):hover {
  color: #51c9a6;
}

/* Bubble Advertisment */
.bbl {
  display: flex;
}

.bbl > div {
  border: 1px solid black;
  margin: auto;
  max-height: 84%;
  max-width: 30%;
  overflow: hidden;
}

.bbl > div > img {
  margin: auto;
  height: 100%;
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.bbl > div > img:hover {
  transform: scale(1.2);
}

/* .bubble:hover {
  font-size: 1000px;
}
#v:hover {
  font-size: 50px;
} */
/* shop by health concern */
.HC {
  color: #525d5d;
  display: flex;
  justify-content: space-between;
}
.HC > div {
  border: 1px dashed black;
  margin: 10px;
  height: 35%;
  width: 13%;
}

.HC > div > div:nth-child(1) {
  height: 80%;
}
.HC > div > div > img {
  border-radius: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.HC > div > div:nth-child(2) {
  height: 10%;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

.HC > div > div:nth-child(2):hover {
  color: #51c9a6;
}

/* SHOP BY TOP BRANDS */
.TB {
  color: #525d5d;
  display: flex;
  justify-content: space-between;
}
.TB > div {
  border: 1px dashed black;
  margin: 10px;
  height: 35%;
  width: 13%;
}

.TB > div > div:nth-child(1) {
  height: 80%;
}

.TB > div > div:nth-child(2) {
  height: 10%;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

.TB > div > div:nth-child(2):hover {
  color: #51c9a6;
}
/* Static advertisment */

.SA {
  display: flex;
}

.SA > img {
  margin: auto;
  height: 90%;
  width: 32%;
}
/* START CONSULTATION */
.SC > div {
  display: flex;
  justify-content: space-between;
  color: #525d5d;
}
.SC > div:nth-child(1) {
  font-weight: 550;
  /* color: #525d5d; */
}
.SC > div > div {
  display: flex;
  /* flex-direction: row; */
}

.SC > div > div > div > p {
  font-size: 13px;
  margin: 10px 0px;
}

.SC > div > div > div > img {
  border: 1px solid #898989;
  border-radius: 100%;
  height: 60%;
  width: 80%;
}

.SC > div > div > div > button {
  border: 1px solid #51c9a6;
  background-color: white;
  color: #51c9a6;
  border-radius: 20px;
  width: 120px;
  height: 40px;
}

.SC > div > div > div > button:hover {
  border: 1px solid #51c9a6;

  border: 1px solid #51c9a6;
  background-color: #51c9a6;
  color: white;
}

/* Blogs */
.blog {
  margin: auto;
  display: grid;
  grid-template-areas:
    ". . a a a a . ."
    "b b b b c c d d"
    "b b b b c c d d"
    "b b b b e e f f"
    "b b b b e e f f";
  grid-gap: 5px;
}

.blog > div {
  border: 1px solid red;
}

.blog > div:nth-child(1) {
  grid-area: a;
}

.blog > div:nth-child(2) {
  grid-area: b;
}

.blog > div:nth-child(3) {
  grid-area: c;
}

.blog > div:nth-child(4) {
  grid-area: d;
}

.blog > div:nth-child(5) {
  grid-area: e;
}

.blog > div:nth-child(6) {
  grid-area: f;
}

.blog > div > div:nth-child(1) {
  height: 70%;
}

.blog > div > p {
  font-size: 13px;
  margin-top: 15px;
  color: #51c9a6;
}

.blog > div > div > h4 {
  margin: auto;
  margin-top: 15px;
  width: 80%;
  text-align: center;
  color: #51c9a6;
  font-weight: lighter;
}

.blog > div > div > div {
  border: 1px solid red;
  margin: auto;
  margin-top: 15px;
  font-size: 12px;
  width: 90%;
  text-align: center;
  color: #898989;
}

#blog_head {
  margin: auto;
  color: #fb8903;
  font-size: 25px;
}

/* Allopathy */
.A {
  display: flex;
}

.A > div:nth-child(1) {
  width: 10%;
}

.A > div:nth-child(2) {
  width: 85%;
}

.A img {
  border: 1px solid red;
  height: 80%;
}

.A1 {
  /* width: 30%; */
  /* margin: 5px; */
}

.A1 div {
  height: 120px;
  width: 150px;
  border: 1px solid black;
  text-align: center;
}

.A1 h3 {
  margin: auto;
  width: 120px;
  border: 1px solid red;
  text-align: center;
}

.A1 img {
  margin: auto;
  border-radius: 100%;
  width: 80px;
  margin-top: 20px;
}

.img p {
  font-size: 14px;
  color: #525d5d;
}

.img p:hover {
  color: #51c9a6;
}

.A1 div button {
  border: transparent;
  width: 100px;
  height: 30px;
  background-color: #51c9a6;
  color: #e7fbfd;
  border-radius: 2px;
}

.A2 {
  /* margin: 5px; */
  border: 1px solid green;
  width: 70%;
  display: flex;
  justify-content: space-around;
  /* max-width: 200px; */
  /* overflow-x: hidden; */
}
.A2 i {
  border: 1px solid #dcdbdb;
  padding: 10px 10px;
  margin: 110px 0px;
  justify-content: center;
  color: #dcdbdb;
  background-color: rgb(250, 246, 246);
}

.A .span {
  border: 1px solid green;
  height: 20%;
  margin-top: 10px;
}

.span > span:nth-child(1) {
  color: #898989;
}

.span > span:nth-child(2) {
  color: #898989;
  text-decoration: line-through;
}

.span > span:nth-child(3) {
  padding-left: 8px;
}

.span > span:nth-child(5) {
  margin-left: 8px;
  background-color: #51c9a6;
  color: whitesmoke;
}

/* navbar */

.nav-bar {
  /* background: cyan; */
  height: 70px;
}
.nav-bar a {
  float: left;
  margin-top: 20px;
  margin: 10px 50px;
}

.form {
  height: 30px;
  width: 255px;
}

.navbar-brand {
  width: 230px;
  padding: 10px 0px;
  margin-left: 0%;
}
.navbar-brand > img {
  width: 95%;
}

#search {
  float: left;
  margin-top: 20px;
  padding-left: 0%;
  /* padding-right: 0%; */
  /* margin-right: 0%; */
}

#search_bar {
  padding-left: 10px;
  padding-right: 0%;
  margin-right: 0%;
  border: 1px solid #dcdbdb;
}

.nav > img {
  width: 90%;
  padding-top: 10px;
}

.btn {
  border: transparent;
  padding-left: 0%;
  margin-left: 0%;
  height: 36px;
  width: 50px;
  background: #51c9a6;
  color: white;
}

.icon {
  width: 32%;
  height: 40px;
  border: 1px solid red;
  float: right;
  margin-top: 20px;
}

#nav-2 {
  display: flex;
  justify-content: center;
  background: #51c9a6;
  width: 100%;
  height: 30px;
  border: 1px solid #51c9a6;
}

#nav-2 li {
  margin-top: 9px;
  margin-left: 30px;
  color: white;
  float: left;
  padding: 0px;
  list-style: none;
  font-size: 13px;
}

li:hover {
  cursor: pointer;
}

input[type="text"] {
  width: 480px;
  height: 30px;
  padding-right: 0%;
  margin-right: 0%;
}

.icon {
  border: 1px solid red;
  /* margin-left: 125px;
  padding-left: 200px;
  align-items: flex-end; */
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon > div > p {
  color: #898989;
}

.icon i {
  font-size: 20px;
  margin: 0%;
  margin-right: 25px;
}
