#container{
    width:65%;
    margin-left: 15%;
    margin-top: 100px;
    border: 1px solid red;
   height:350px ;
}
#top{
        width:100%;
        display: flex;
    
        height :140px;
        background-color:rgb(81,201,166) ; 
    } 
#top>div{
    margin-left: 10px;
    color: white;
    line-height: 10px;
    margin-top: 15px;
    /* padding: 10px 3px; */
    
}
 #image{
     /* margin-left: 100%; */
      padding-left:30% ;
       
 }

 #bottom{
    width:100%;  
   
    height :200px;
 }
 .field{
     width: 40%;
     margin-left: 30%;
     margin-top: 40px;
     text-align: center;
   
     
 }
 .field>input
 {
     width: 100%;
  height:30px ;
   border: none;
   padding: 0 5 px;
   background: none;
   outline: none;
    
     /* text-decoration-line: underline; */
    
 }
 button{
    width: 300px;
    background-color: rgb(236,151,31) ;
padding: 10px;
cursor: pointer;
color: white;
 border: 0;
margin-left: 30%;
margin-top: 20px;
height: 40px;  
 }
 
button:hover {
    background-color: rgb(218, 138, 28);
    color: white;
  }

#terms{
    text-align: center;
    padding: 25px;
    font-weight: lighter;
    font-size: 13px;

}
.para{
    color: rgb(108,209,180);
}

