#maincontainer {
  width: 100%;
  /* border: 1px solid red; */
  height: 150px;
}
/* navbar */
.nav-bar {
  /* background: cyan; */
  height: 70px;
}
.nav-bar a {
  float: left;
  margin-top: 20px;
  margin: 10px 50px;
}
.form {
  height: 30px;
  width: 255px;
}
.navbar-brand {
  width: 230px;
  padding: 10px 0px;
  margin-left: 0%;
}
.navbar-brand > img {
  width: 95%;
}
#search {
  float: left;
  margin-top: 20px;
  padding-left: 0%;
  /* padding-right: 0%; */
  /* margin-right: 0%; */
}
#search_bar {
  padding-left: 10px;
  padding-right: 0%;
  margin-right: 0%;
  border: 1px solid #dcdbdb;
}
.nav > img {
  width: 90%;
  padding-top: 10px;
}
.btn {
  border: transparent;
  padding-left: 0%;
  margin-left: 0%;
  height: 36px;
  width: 50px;
  background: #51c9a6;
  color: white;
}
.icon {
  width: 32%;
  height: 40px;
  /* border: 1px solid red; */
  float: right;
  margin-top: 20px;
}
#nav-2 {
  display: flex;
  justify-content: center;
  background: #51c9a6;
  width: 100%;
  height: 30px;
  border: 1px solid #51c9a6;
}
#nav-2 li {
  margin-top: 9px;
  margin-left: 30px;
  color: white;
  float: left;
  padding: 0px;
  list-style: none;
  font-size: 13px;
}
li:hover {
  cursor: pointer;
}
input[type="text"] {
  width: 480px;
  height: 30px;
  padding-right: 0%;
  margin-right: 0%;
}
.icon {
  /* border: 1px solid red; */
  /* margin-left: 125px;
padding-left: 200px;
align-items: flex-end; */
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icon > div > p {
  color: #898989;
}
.icon i {
  font-size: 20px;
  margin: 0%;
  margin-right: 25px;
}

/* \\\signup container */
#container {
  width: 65%;
  margin-left: 15%;
  /* margin-top: 80px; */
  /* border: 1px solid red; */
  height: 350px;
}
#top {
  width: 100%;
  display: flex;

  height: 140px;
  background-color: rgb(81, 201, 166);
}
#top > div {
  margin-left: 10px;
  color: white;
  line-height: 10px;
  margin-top: 15px;
  /* padding: 10px 3px; */
}
#image {
  /* margin-left: 100%; */
  padding-left: 30%;
}

#bottom {
  width: 100%;

  height: 200px;
}
.field {
  width: 40%;
  margin-left: 30%;
  margin-top: 40px;
  text-align: center;
}
.field > input {
  width: 100%;
  height: 30px;
  border: none;
  padding: 0 5 px;
  background: none;
  outline: none;

  /* text-decoration-line: underline; */
}
button {
  width: 300px;
  background-color: rgb(236, 151, 31);
  padding: 10px;
  cursor: pointer;
  color: white;
  border: 0;
  margin-left: 30%;
  margin-top: 20px;
  height: 40px;
}

button:hover {
  background-color: rgb(218, 138, 28);
  color: white;
}

#terms {
  text-align: center;
  padding: 25px;
  font-weight: lighter;
  font-size: 13px;
}
.para {
  color: rgb(108, 209, 180);
}

#fotter {
  width: 100%;
  /* border: 1px solid red; */
}

/* Title Bar */
#btm2 {
  /* height: 20%; */
  background-color: #0b7670;
  font: 12px;
  font-family: Roboto, sans-serif;
  color: #51c9a6;
}

#btm3 {
  /* height: 70%; */
  background-color: #51c9a6;
  color: #e7fbfd;
}

#copyRight {
  text-align: center;
  color: #117150;
  margin-top: 20px;
}

#btm2 > div {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
}

#btm2 > div > div {
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 10px;
}

#btm2 > div > div > p:nth-child(1) {
  color: white;
}

#btm1 {
  display: flex;
}

#btm1 > div {
  margin: auto;
  text-align: center;
}

#btm1 > div > p {
  color: #c9cacc;
}

h6,
h2 {
  margin: 10px 15px;
}

h3 {
  margin: 0px 15px;
  font-weight: lighter;
}

p {
  font-size: 11px;
  margin: 0px 15px;
  font-weight: lighter;
}
