/* Allopathy */
.A {
  display: flex;
}

.A > div:nth-child(1) {
  width: 10%;
}

.A > div:nth-child(2) {
  width: 85%;
}

.A img {
  border: 1px solid red;
  height: 80%;
}

.A1 {
  /* width: 30%; */
  /* margin: 5px; */
}

.A1 div {
  height: 120px;
  width: 150px;
  border: 1px solid black;
  text-align: center;
}

.A1 h3 {
  margin: auto;
  width: 120px;
  border: 1px solid red;
  text-align: center;
}

.A1 img {
  margin: auto;
  border-radius: 100%;
  width: 80px;
  margin-top: 20px;
}

.img p {
  font-size: 14px;
  color: #525d5d;
}

.A1 div button {
  border: transparent;
  width: 100px;
  height: 30px;
  background-color: #51c9a6;
  color: #e7fbfd;
  border-radius: 2px;
}

.carousel {
  margin-left: 45px;
  border: 1px solid green;
  width: 70%;
  /* display: flex; */
  /* max-width: 200px; */
  /* overflow-x: hidden; */
}

.A2 > div {
  /* margin: 5px; */
  width: 100%;
  border: 1px solid yellow;

  display: flex;
  justify-content: space-between;
  /* max-width: 200px; */
  /* overflow-x: hidden; */
}

.A2 i {
  border: 1px solid #dcdbdb;
  padding: 10px 10px;
  margin: 110px 0px;
  justify-content: center;
  color: #dcdbdb;
  background-color: rgb(250, 246, 246);
}

.A .span {
  width: 150px;
  border: 1px solid green;
  height: 20%;
  margin-top: 10px;
}

.span > span:nth-child(1) {
  color: #898989;
}

.span > span:nth-child(2) {
  color: #898989;
  text-decoration: line-through;
}

.span > span:nth-child(3) {
  padding-left: 8px;
}

.span > span:nth-child(5) {
  margin-left: 8px;
  background-color: #51c9a6;
  color: whitesmoke;
}

.carousel-cell {
  margin-left: 15px;
  padding-top: 5px;
  width: 20%;
}
